<launch>
<remap from="scan" to="/RosAria/scan"/>
<node pkg="amcl" type="amcl" name="amcl" output="screen">>
  <!-- Publish scans from best pose at a max of 10 Hz -->
  <param name="odom_model_type" value="diff"/>
  <param name="odom_alpha5" value="0.1"/>
  <param name="min_particles" value="500"/>
  <param name="max_particles" value="1000"/>
  <param name="laser_likelihood_max_dist" value="3.0"/>
  <param name="update_min_d" value="0.1"/>
  <param name="update_min_a" value="0.05"/>
  <param name="odom_frame_id" value="odom"/>
</node>
</launch>
